*{
    margin: 0;
    padding: 0;
    background-color: darkgoldenrod;
}

input{
    height: 2rem;
    width: 2rem;
    background-color: #FFFFFF;
    cursor: pointer;
    border: 1px solid black;
}

span{

    margin-left: 1rem;
    margin-right: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.r1{
    display: flex;
    margin-left: 15%;
    margin-top: 5vh;
}

.r1 .ghost{
    visibility: hidden;
}

.r2{
    display: flex;
    margin-left: 15%;
}

.r2 .ghost{
    visibility: hidden;
}

.r3{
    display: flex;
    margin-left: 15%;
}

.r3 .ghost{
    visibility: hidden;
}

.r4{
    display: flex;
    margin-left: 15%;
}

.r4 .ghost{
    visibility: hidden;
}

.r5{
    display: flex;
    margin-left: 15%;
}

.r5 .ghost{
    visibility: hidden;
}

.r6{
    display: flex;
    margin-left: 15%;
}

.r6 .ghost{
    visibility: hidden;
}

.r7{
    display: flex;
    margin-left: 15%;
}

.r7 .ghost{
    visibility: hidden;
}

.r8{
    display: flex;
    margin-left: 15%;
}

.r8 .ghost{
    visibility: hidden;
}

.r9{
    display: flex;
    margin-left: 15%;
}

.r9 .ghost{
    visibility: hidden;
}

.r10{
    display: flex;
    margin-left: 15%;
}

.r10 .ghost{
    visibility: hidden;
}

.r11{
    display: flex;
    margin-left: 15%;
}

.r11 .ghost{
    visibility: hidden;
}

.r12{
    display: flex;
    margin-left: 15%;
}

.r12 .ghost{
    visibility: hidden;
}

.r13{
    display: flex;
    margin-left: 15%;
}

.r13 .ghost{
    visibility: hidden;
}

.r14{
    display: flex;
    margin-left: 15%;
}

.r14 .ghost{
    visibility: hidden;
}

.r15{
    display: flex;
    margin-left: 15%;
}

.r15 .ghost{
    visibility: hidden;
}

.r16{
    display: flex;
    margin-left: 15%;
}

.r16 .ghost{
    visibility: hidden;
}

.r17{
    display: flex;
    margin-left: 15%;
}

.r17 .ghost{
    visibility: hidden;
}

.r18{
    display: flex;
    margin-left: 15%;
}

.r18 .ghost{
    visibility: hidden;
}

.r19{
    display: flex;
    margin-left: 15%;
}

.r19 .ghost{
    visibility: hidden;
}