*{
    margin: 0;
    padding: 0;
    background-color: darkgoldenrod;
}

input{
    height: 2rem;
    width: 2rem;
    background-color: #FFFFFF;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    text-transform: uppercase;
    text-align: center;
}
span {
    font-size: 1.5rem;;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    box-shadow: 3px 3px 3px darkslategrey;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.number{
    background-color: transparent;
    border: none;
    text-align: center;
    color: black;
    font-size: larger;
    margin-right: 0.2%;
}

.r1{
    display: flex;
    margin-left: 15%;
    margin-top: 5vh;
}

.r1 .ghost{
    visibility: hidden;
}

.r2{
    display: flex;
    margin-left: 15%;
}

.r2 .ghost{
    visibility: hidden;
}

.r3{
    display: flex;
    margin-left: 15%;
}

.r3 .ghost{
    visibility: hidden;
}

.r4{
    display: flex;
    margin-left: 15%;
}

.r4 .ghost{
    visibility: hidden;
}

.r5{
    display: flex;
    margin-left: 15%;
}

.r5 .ghost{
    visibility: hidden;
}

.r6{
    display: flex;
    margin-left: 15%;
}

.r6 .ghost{
    visibility: hidden;
}

.r7{
    display: flex;
    margin-left: 15%;
}

.r7 .ghost{
    visibility: hidden;
}

.r8{
    display: flex;
    margin-left: 15%;
}

.r8 .ghost{
    visibility: hidden;
}

.r9{
    display: flex;
    margin-left: 15%;
}

.r9 .ghost{
    visibility: hidden;
}

.r10{
    display: flex;
    margin-left: 15%;
}

.r10 .ghost{
    visibility: hidden;
}

.r11{
    display: flex;
    margin-left: 15%;
}

.r11 .ghost{
    visibility: hidden;
}

.r12{
    display: flex;
    margin-left: 15%;
}

.r12 .ghost{
    visibility: hidden;
}

.r13{
    display: flex;
    margin-left: 15%;
}

.r13 .ghost{
    visibility: hidden;
}

.r14{
    display: flex;
    margin-left: 15%;
}

.r14 .ghost{
    visibility: hidden;
}

.r15{
    display: flex;
    margin-left: 15%;
}

.r15 .ghost{
    visibility: hidden;
}

.r16{
    display: flex;
    margin-left: 15%;
}

.r16 .ghost{
    visibility: hidden;
}

.r17{
    display: flex;
    margin-left: 15%;
}

.r17 .ghost{
    visibility: hidden;
}

.r18{
    display: flex;
    margin-left: 15%;
}

.r18 .ghost{
    visibility: hidden;
}

.r19{
    display: flex;
    margin-left: 15%;
}

.r19 .ghost{
    visibility: hidden;
}

#ordem_1 {
    float: right;
    margin: 16% 53% 0 0
}

#ordem_2{
float: left;
margin: 2% 0 0 15.5%;
}

#ordem_3{
    
}

#ordem_4

#ordem_5

#ordem_6

#ordem_7

#ordem_8

#ordem_9

#ordem_10
#ordem_11
#ordem_12
#ordem_13
#ordem_14
#ordem_15

#ordem_1